{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>DSA Quiz Testing </title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <div class="container">
    <!-- Heading bar if want then if not delete it  -->
   
   
    <h1>C++ Quiz</h1>

    <div id="quiz"></div>
    <div id="result" class="result"></div>
    <button id="submit" class="button">Submit</button>
    <button id="retry" class="button hide">Retry</button>
    <button id="showAnswer" class="button hide">Show Answer</button>
  </div>
  <script src="{% static 'js/c++question.js' %}"></script>
 
</body>
</html>